
@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-box {
  width: 100%;
}

@font-face {
  font-family: Blackout;
  src: url("fonts/chirp-extended-heavy-web.woff2") format("opentype");
}
@font-face {
  font-family: Blackin;
  src: url("fonts/chirp-heavy-web.woff") format("opentype");
}
